.elementor-kit-97{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;--e-preloader-animation-duration:1500ms;--e-preloader-delay:0ms;--e-preloader-color:#696969;--e-preloader-size:40px;}.elementor-kit-97 e-page-transition{background-color:#ECECEC;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1200px;}.e-con{--container-max-width:1200px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.revealy{
    transform: translateY(80px);
    opacity: 0;
    transition: all 1s ease;
    
}
.revealy.active {
    transform: translateY(0px);
    opacity: 1;
    
}
.revealxp{
    transform: translateX(80px);
    opacity: 0;
    transition: all 1s ease;
    
}
.revealxp.active {
    transform: translateX(0px);
    opacity: 1;
    
}
.revealxm{
    transform: translateX(-80px);
    opacity: 0;
    transition: all 1s ease;
    
}
.revealxm.active {
    transform: translateX(0px);
    opacity: 1;
    
}/* End custom CSS */